{% extends 'base.html.twig' %}

{% block title %}
  structure-responsable - inscription
{% endblock %}


{% block body %}

<div class="container">
<h1 class="mt-4">création d'un compte utilisateur pour la structure  {{ structure.nameStructure }}</h1>
{{form(form)}}

</div>

    
{% endblock %}