<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Confirmation de création de compte pour l'utilisateur:
			{{ user.fullName }}</h1>

			<p>Votre login et mot sont les suivants:</p>

		<p>login :
			{{ user.email }}</p>
		<p>mot de passe :
			{{ user.plainPassword }}</p>
		<p>Message :</p>
		<div>
			voici votre lien de connexion:
			<a href="https://backend-strapi.online/sport-training/"> connexion partenaire</a>
		</div>
	</body>
</html>
