<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Confirmation de création de compte pour l'utilisateur:
			{# {{ contact.fullName }}</h1> #}

			<p>Votre login et mot sont les suivants:</p>

		<p>login :
			{# {{ contact.email }}</p> #}
		<p>mot de passe :
			{# {{ contact.plainPassword }}</p> #}
		{# <p>Message :</p>
		<div>
			{{ contact.message|raw }}
		</div> #}
	</body>
</html>
