{% extends 'base.html.twig' %}

{% block title %}
  Partenaires-responsable - inscription
{% endblock %}


{% block body %}

<div class="container">
<h1 class="mt-4">création d'un compte utilisateur pour le partenaire  {{ partenaire.name }}</h1>
{{form(form)}}

</div>

    
{% endblock %}