{% extends 'base.html.twig' %}
{% block title %}
  Symrecipe - title
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">
        Bienvenue sur sport-training-app
      </h1>
      <p class="lead">
        sport-training-app est le gestionnaire des salles de sport de la marque sport-training.
      </p>
      <hr class="my-4" />
      <p>
        Pour commencer, rendez vous sur la page d'inscription pour utiliser
        l'application.
      </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">inscription</a>
    </div>
  </div>
{% endblock %}
